<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/css/import.css">
</head>
<body>

  <style>
    .active{
      border-bottom: 1px solid red;
      display: block;
      text-align: center;
    }
    .text-danger{
      color: red;
    }
  </style>



  <div id="app">
    <!-- <div v-show="isDisplay">表示</div> -->
    <!-- <div v-if="isDisplay">Ifで表示</div> -->

    <!-- <div v-if="signal === 'red' ">赤</div>
    <div v-else-if="signal === 'yellow' ">黄色</div>
    <div v-else-if="signal === 'blue' ">青</div>
    <div v-else>なし</div> -->


    <!-- 配列 -->
    <!-- <ul v-for="member in members">
      {{member}}
    </ul> -->

    <!-- 配列 -->
    <!-- <ul v-for="(member,index) in members">
      {{index}} {{member}}
    </ul> -->

    <!-- オブジェクト -->
    <!-- <ul>
      <li v-for="value in book">
        {{value}}
      </li>
    </ul> -->


    <!-- オブジェクト -->
    <!-- <ul>
      <li v-for="(value,key) in book">
        {{key}}:{{value}}
      </li>
    </ul> -->


    <!-- オブジェクト -->
    <!-- <ul>
      <li v-for="(value,key,index) in book">
        {{key}}:{{value}}:{{index}}
      </li>
    </ul> -->


    <!-- 複数のオブジェクト -->
    <!-- <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>著者</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books">
          <th>{{book.id}}</th>
          <th>{{book.ttl}}</th>
          <th>{{book.author}}</th>
          <th>{{book.url}}</th>
        </tr>
      </tbody>
    </table> -->




    <!-- <div v-text="test"></div> -->

    

    <!-- <div v-cloak>{{test1}}</div>
    <div>{{test2}}</div> -->


    <!-- <button v-on:click = "btnClicked">クリックしてね！！</button> -->

    <button @click = "btnClicked">クリックしてね！！</button>
    <button @click = "btnClickedEvent">クリックしてね！！</button>
    <button @click = "btnClickedArgs(1)">クリックしてね！！</button>
    <button @click = "btnClickedEventArgs(1,$event)">クリックしてね！！</button>






  </div>

  <style>
    [v-cloak]{
      display: none;
    }
  </style>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./index.js"></script>

  <script>
    let app = new Vue({
      el: '#app',
      data(){
          return{
              // isDisplay:true,
              // signal:'red',
              // members:['ホンダ','香川','長友'],
              // book:{
              //   ttl:"title",
              //   author:"author",
              //   url:"a",
              // },
              books:[
                {
                  id:"1",
                  ttl:"title1",
                  author:"author",
                  url:"a",
                },
                {
                  id:"2",
                  ttl:"title2",
                  author:"author",
                  url:"b",
                },
                {
                  id:"3",
                  ttl:"title3",
                  author:"author",
                  url:"c",
                },
              ],
              test:"aaa<br>iiiii",
          }
      },
      methods: {
        // btnClicked(){
        //   console.log("clickされました！")
        // },
        // btnClickedEvent(e){
        //   console.log(e);
        // },
        // btnClickedArgs(int){
        //   console.log(int);
        // },
        // btnClickedEventArgs(int,e){
          console.log(int,e);
        }
      },
    });





  </script>


</body>
</html>